body{
    background-color: darkgrey;

}
h1{


color: white;

}
.d1{
color: #8b1a1a;
height: 128px;
width: 14%;
border: white 2px solid;
margin-left: 663px;
background-color: rgba(255, 0, 85, 0.24);
box-shadow: 10px 10px;
}
input[type=button]{
width:35px;
color: rgb(32, 35, 36);
background-color: burlywood;
}
/* div:hover{ */
    /* transform: rotate(50deg) scale(.5);*/
     /* transform: skew(45deg) ; */
     /* transform: translate(200px); */
/* } */


input{
    width: 68%;
    height: 20px;
    font-size: 15px;
    color: beige;
    font-weight: bolder;
}
@media(max-width:400px) {
    .c{
        margin-left: 10px;
    }
}
@media(max-width:400px) {
    .h1{
        text-align: center;
        position: fixed;
    }
}
@media(max-width:400px) {
    .d1{
        margin-left: 10px;
        width: 95%;
    }
}